body {
  font-family: 'Share Tech Mono', monospace;
  background-color:#EEEEEE;
}

.explanation {
  text-align:center; 
}

button {
  background-color:#DDDDDD;
  border:none;
  height:3em;
}

.user-input {
  text-align:center;
}
